.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 947px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: ABeeZee;
  width: 200px;
  margin: 22px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 67px;
  height: auto;
  width: 474px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 488px;
  font-family: Abel;
  font-size: 1.125rem;
  margin: 5px auto 0;
}

.u-section-1 .u-blog-1 {
  margin-top: 9px;
  margin-bottom: 60px;
  min-height: 607px;
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 232px;
  width: 191px;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-text-3 {
  margin: -232px 105px 0 225px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 20px auto 0 225px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0 225px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0 225px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 232px;
  width: 191px;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-text-5 {
  margin: -232px 105px 0 225px;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 20px auto 0 225px;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0 225px;
}

.u-section-1 .u-btn-2 {
  margin: 20px auto 0 225px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 232px;
  width: 191px;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-text-7 {
  margin: -232px 105px 0 225px;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 20px auto 0 225px;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0 225px;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0 225px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 232px;
  width: 191px;
  margin: 0 auto 0 -1px;
}

.u-section-1 .u-text-9 {
  margin: -232px 105px 0 225px;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.875rem;
  margin: 20px auto 0 225px;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0 225px;
}

.u-section-1 .u-btn-4 {
  margin: 20px auto 0 225px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -46px;
  }

  .u-section-1 .u-blog-1 {
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
    margin-left: 125px;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 5px;
    margin-left: 125px;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 5px;
    margin-left: 125px;
  }

  .u-section-1 .u-metadata-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 5px;
    margin-left: 125px;
  }

  .u-section-1 .u-metadata-4 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 474px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -469px;
  }

  .u-section-1 .u-blog-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 577px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -572px;
  }
}