.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 987px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: ABeeZee;
  margin: 24px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 67px;
  height: auto;
  width: 474px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-1 {
  width: 367px;
  min-height: 530px;
  grid-gap: 21px 21px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  height: auto;
  margin: 5px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: ABeeZee;
}

.u-section-1 .u-line-1 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 303px;
  height: 178px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-shape-1 {
  height: 37px;
  margin-top: -17px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-text-3 {
  margin: 0 2px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 157px;
  height: 42px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -79px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 266px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -293px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    grid-template-columns: 100%;
    margin-bottom: 33px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 185px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}